<< This is an example file of how to specify secrets in a secret file. Fill out according to your setup and rename to "snowman_secrets.h". >>

#define SECRET_SSID "<SSID>"
#define SECRET_PASS "<SSID-password>"
#define SECRET_SERVER_URL "xxx.westeurope.azurecontainer.io"
#define SECRET_MQTT_USER "<username>"
#define SECRET_MQTT_PASS "<password>"
